#!/usr/bin/make -f
export DH_VERBOSE = 1
export CGO_ENABLED = 0

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_auto_build:
	go build -trimpath -ldflags="-s -w" -o debian/portal/usr/bin/portal ./cmd/portal

override_dh_auto_install:
	install -d debian/portal/usr/share/man/man1
	install -m 0644 docs/portal.1 debian/portal/usr/share/man/man1/portal.1
